*{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/*Corpo*/
body{
  background: url(../img/fundo.fw.png);
}
/* Topo da página*/
#topo{
  border-radius: 12px 12px 0 0;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  height: 105px;
  background: url(../img/download.fw.png) no-repeat;
}

#topo a{
  line-height: 1.4em;
  font-size: 1.4em;
  text-decoration: none;
}
/*Barra de navedegação*/
#navegacao ul{
  margin-right: 30px;
  margin-top: 3.2em;
  width: 590px;
  float: right;
  list-style: none;
}

#navegacao ul a{
  color: #000;
  margin: 0.3em 1em;
  float: left;
}

#navegacao ul a:hover{
  color: rgba(138, 138, 138, 0.993);
}

/*Conteúdo principal*/

#conteudo{
  width: 225px;
  background: #fff;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
  color: #000;
}