* {
    margin: 0;
    padding: 0;

}

#area-cabecalho a:link, #area-cabecalho a:visited{
	color: #fff;
	padding: 8px 12px;
	text-decoration: none;
}
#area-cabecalho a:hover{
	color: #066395;
	background: white;
}
a{

	text-decoration: none;
}
 a:link, a:visited{
	color: #f7b600;
}
 a:hover{
	text-decoration: underline;
}
.conteudo-lateral{
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

body {

    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}
#area-principal{
	width: 920px;
	margin: 0 auto;
}

#area-cabecalho {
    background-color: #3d6f99;
    padding: 15px;
    text-align: center;
}
#area-logo , #area-menu{
	padding: 10px;

}
#area-postagens{
	margin-top: 20px;
	width: 660px;
	padding:0 125px;
	float: left;
}
#area-lateral{
	width: 240px;
	float: right;
}
.texto-postagem{
	font-size: 0.8em;
	padding: 5px;
}
h1{
	color: #4e4e4e;
	font-size: 2.5em;
}
h3{
	color: #565656;
	background: #ccc;
	padding: 5px;
}
.branco{
	color: white;
}
#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #ccc;
}
.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

p{
	font-size: 1em;	
}

p#bem-vindo{
	font-size: 1.4em;
	color: darkred;
}

