* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff url(../img/fundo2.fw.png)repeat-x;
  font-family: "Courier New", sans-serif;
}

#container {
  width: 800px;
  margin: 0 auto;
}

.logo {
  text-indent: -3000px;
  width: 276px;
  height: 181px;
  background: url(../img/logo.fw.png) no-repeat;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topo ul {
  background: #644536;
  float: left;
}

#topo ul li {
  float: left;
}

#topo ul a {
  padding: 0;
  font-size: 1.25em;
  color: #ffe0b5;
  text-decoration: none;
  margin: 0.5em 1.5em;
  line-height: 1.85em;
}

#topo a:hover {
  color: #f6aa1c;
}

#home .home a,
#sobre .sobre a,
#motivador .motivador a,
#equipe .equipe a,
#produtos .produtos a,
#contato .contato a {
  color: #f6aa1c;
}

#conteudos #conteudo-primario {
  width: 420px;
  margin-top: 120px;
  background: #f1dcbd;
  margin-left: 280px;
}

#conteudo-primario h3 {
  letter-spacing: 1.2px;
  line-height: 1.5em;
  font-size: 1.5em;
  color: #ff7b00;
}

#postagem {
  width: 420px;
  margin-left: 280px;
  margin-top: 10px;
  background: #ececec;
}

#postagem .texto {
  line-height: 14px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #361905;
  letter-spacing: 1px;
}