/*Navegação Vertical
*/

/*ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5px 20px;
	background: url(../img/seta.png)no-repeat left center;
}*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul a {
	color: #000;
	text-decoration: none;
	line-height: 40px;
	text-indent: 35px;
	display: block;
	width: 200px;
	height: 40px;
	background: url(../img/menu.png) no-repeat left bottom;
}

a:hover {
	background-position: right bottom;
}














/*body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #643d87 url(../img/fundo.jpg) no-repeat top center;
}

#container{
	width: 400px;
	height: 300px;
	background-color: rgb(255,255,255,0.3);
	margin: 0 auto;
	margin-top: 120px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align:center;
}

#container img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}
input{
	height: 40px;
	width: 80%;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	border: none;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 10px; 
}

input.email{
	background-image: url(../img/icone-usuario.png);
}

input.senha{
	background-image: url(../img/icone-cadeado.png);
}

input.submit{
	color: #fff;
	background-color: #f79300;
	border: 2px solid #db7d00;
	padding: 5px 20px;
	height: 45px;
	width: 90%;
	background: linear-gradient(to bottom, #faa600, #f68a00);
}

input.submit:hover{
	color: black;
	border: 2px solid black;
	cursor: pointer;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table{
	width: 600px;
	border-collapse: collapse;
}

th, td{
	padding: 7px;
}

th{
	text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.1em;
}

tr.alternado{
	background-color: #efefef;
}

.numero{
	text-align: right;
}

tr:hover{
	background-color: #c3e6e5;
}



body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	width: 960px;
	margin: 0 auto;
	background: #fff url(../img/coluna.png) repeat-y;
	min-width: 820px;
}

#marca {
	height: 300px;
	background: #225992 url(../img/cabecalho2.jpg) no-repeat center;
	text-align: center;
	line-height: 300px;
}
#imagem{
	width: 900px;
	overflow: hidden;
}
#conteudo {
	width: 75%;
	float: right;
}

#navegacao {
	width: 23%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

#conteudo-principal {
	width: 64%;
	float: left;
}

img.imagem-noticia{
	width: 90%;
	padding: 2%;
	max-width: 600px;
}

#conteudo-secundario {
	width: 34%;
	float: right;
	background: #d1d1d1;
}
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}

#navegacao ul {
	list-style-type: none;
	margin: 5px 0;
	padding: 0 10px;
}

#navegacao li a{
	color: blue;
	text-decoration: none;
}

#navegacao li a:hover{
	color: red;
}




ul {
	
	list-style-type:none;
	margin: 0;
	padding: 2px;
}
li{
	border:2px solid red;
	padding :5px 20px;
	background: url('../img/seta.png') no-repeat left center;


ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul a{
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	font-size: ;
	background: #f7b600 url('../img/menu.png')no-repeat;
	
}

a:hover, .selecionado a{
	background-position: right bottom;
	color: #fff;
	background-color: #f99200;
}
#home #navegacao .home a,
#sobre #navegacao sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a{
	background-position: right bottom;
	color: #fff;
	background-color: #f99200;
}
ul{
	margin: 0;
	
	padding: 0;
	list-style-type: none;
	width: 720px;
	background: #159cb0 url('../img/fundo-horizontal.png') repeat-x ;
	float: left;
}
ul li{

	float: left;
}
ul a{
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff; 
	background: url(../img/divisor.png) repeat-y left top;
}
ul .primeiro a{
	background: none;
}
ul a:hover{
	color: #085662;
	background: #44cade;
}
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a{
	background-position: right bottom;
	color: #fff;
	background-color: #f99200;
	}
	body{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style:none;
		width: 720px; 
	}
	ul li{
		float:left; 
		background: url(../img/aba-direita.png) no-repeat top right;

	}
	li a{
		background: url(../img/aba-esquerda.png) no-repeat top left;
		display: block;
		padding: 0 2em;
		line-height: 3em;
		text-decoration: none;
		color: #fff;
	}

	ul a:hover{
		color: #894a1f;
	}
	ul #atual{
		background: url(../img/aba-direita-atual.png) no-repeat top right;
	}
		body{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		background: #f2f2f2;
	}
	#container{
		width: 85%;
		margin: 0 auto;
		background: #fff;
	}
	#marca{
		height: 100px;
		background: #9e9e9e ;
		text-align: center;
		line-height: 300px;
	}
	#conteudo{
		width: 75%;
		float: right;
	}
	#conteudo-principal{
		width: 64%;
		float: left;
	}
	#conteudo-secundario{
		width: 34%;
		float: right;
		background: #d1d1d1;
	}
	#conteudo-secundario h1,
	#conteudo-secundario h2,
	#conteudo-secundario h3,
	#conteudo-secundario p{
		padding-left: 20px;
		padding-right: 20px;
	}
	


	
	#navegacao{
		width: 22%;
		float: left;
		padding-top: 20px;
		padding-bottom: 20px;
		background: #d1d1d1;
	}
	#navegacao ul{
		list-style: none;
	}
	#navegacao a{
			text-decoration: none;
	}
	#rodape{
		clear: both;
		background: #c4c4c4;
		padding: 5px;
	}





	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li{
		background: url(../img/seta.png) no-repeat left center;
		padding:5px 20px;
	}
	ul{
		font-family: Arial;
		font-size: 16px;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	ul a{
		width: 200px;
		height: 40px;
		display: block;
		color: #000;
		text-decoration: none;
		text-indent: 40px;
		line-height: 44px;
		background:#f7b600 url(../img/menu.png) no-repeat left bottom;
	}

	a:hover{
		background-position: right bottom;
		background-color: #f99200;
		color: #fff;
	}
	#home .home a,
	#sobre .sobre a,
	#servicos .servicos a,
	#noticias .noticias a,
	#contato .contato a{
		background-position: right bottom;
		background-color: #f99200;
		color: #fff;

	}

ul {

	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
	width: 720px;
	background: #159cb0 url(../img/fundo-horizontal.png) repeat-x;
}
ul li{
		float: left;
}
ul a{
	display: block;
	padding: 0 2em;
	line-height: 2.3em;
	text-decoration: none;
	color: #fff;
	background: url(../img/divisor.png) repeat-y left top;
}
ul .home a {
	background:none;
}
ul a:hover{
	color: #085662;
	background: #44cade;
}
	#home .home a,
	#sobre .sobre a,
	#servicos .servicos a,
	#noticias .noticias a,
	#contato .contato a{
	background-position: right bottom;
	color: #085662;
	background: #44cade;
}
body{
	font-family: "Trebuchet MS", Helvetica, Courier New;
}

fieldset{
	margin: 1em 0;
	padding:1em;
	border: 1px solid #ccc;
	background: #f8f8f8;
}

legend{
	font-weight: bold;
}

label{
	display: block;
	cursor: pointer;
}

input [type="text"]{
	width: 20em;
}
textarea{
	width: 20em;
	height: 10em;
}

input.radio{
	width: auto;
	margin-right: 1em;
}*/